PORT=5000
MONGO_URI=
MONGO_DB=
JWT_SECRET=
ADMIN_NAME=Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
COMPANY_NAME=SmartOdisha
COMPANY_GST=
COMPANY_ADDRESS=
COMPANY_PHONE=
COMPANY_EMAIL=

# Zoho Mail API
ZOHO_CLIENT_ID=your_zoho_client_id
ZOHO_CLIENT_SECRET=your_zoho_client_secret
ZOHO_REFRESH_TOKEN=your_zoho_refresh_token
ZOHO_ACCOUNT_ID=your_zoho_account_id
ZOHO_MAIL_FROM=noreply@smartodisha.in
MAIL_FROM_NAME=SmartOdisha
LOGO_URL=https://smartodisha.in/logo.png
MAIL_TO=
ADMIN_EMAIL=

LOW_STOCK_THRESHOLD=5
MIN_ORDER_AMOUNT=500
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_PICKUP_PINCODE=
SHIPROCKET_PICKUP_ADDRESS=
SHIPROCKET_PICKUP_CITY=
SHIPROCKET_PICKUP_STATE=
SHIPROCKET_PICKUP_PHONE=

# Delhivery Integration
DELHIVERY_BASE_URL=https://staging-express.delhivery.com
DELHIVERY_API_TOKEN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=smartodisha
REDIS_URL=
